In [1]:
import os
import pandas as pandas

In [2]:
flights = pandas.read_csv('data-csv/flights.csv')
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [3]:
airports = pandas.read_csv('data-csv/airports.csv')
airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [4]:
airlines = pandas.read_csv('data-csv/airlines.csv')
airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [5]:
planes = pandas.read_csv('data-csv/planes.csv')
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,,Turbo-fan
1,N102UW,1998,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
2,N103US,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
3,N104UW,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
4,N10575,2002,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3318,N997DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,,Turbo-fan
3319,N998AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3320,N998DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet
3321,N999DN,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet

In [6]:
weather = pandas.read_csv('data-csv/weather.csv')
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230,10.357019999999999,11.918651475599997,0.0,1013.9,10.0,2013-01-01T00:00:00Z
1,EWR,2013,1,1,1,37.04,21.92,53.97,230,13.809359999999998,15.891535300799996,0.0,1013,10.0,2013-01-01T01:00:00Z
2,EWR,2013,1,1,2,37.94,21.92,52.09,230,12.658579999999999,14.567240692399997,0.0,1012.6,10.0,2013-01-01T02:00:00Z
3,EWR,2013,1,1,3,37.94,23,54.51,230,13.809359999999998,15.891535300799996,0.0,1012.7,10.0,2013-01-01T03:00:00Z
4,EWR,2013,1,1,4,37.94,24.08,57.04,240,14.960139999999999,17.215829909199996,0.0,1012.8,10.0,2013-01-01T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,LGA,2013,12,30,19,35.96,19.94,51.78,340,13.809359999999998,15.891535300799996,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26126,LGA,2013,12,30,20,33.98,17.06,49.51,330,17.261699999999998,19.864419125999994,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26127,LGA,2013,12,30,21,32,15.08,49.19,340,14.960139999999999,17.215829909199996,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26128,LGA,2013,12,30,22,30.92,12.92,46.74,320,17.261699999999998,19.864419125999994,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26129,LGA,2013,12,30,23,28.94,10.94,46.41,330,18.41248,21.188713734399997,0.0,1020.9,10.0,2013-12-30T23:00:00Z

QUESTION 2 - Combien y-a-t-il dâ€™aÃ©roports, de compagnies, de destinations, dâ€™avions et de fuseaux horaires ?

In [7]:
print("Nombre d'aÃ©roports :", len(airports))
print("Nombre de compagnies :", len(airlines))
print("Nombre de destinations :", len(flights.dest.unique()))
print("Nombre d'avions :", len(planes))
print("Nombre de fuseaux horaires :", len(airports.tz.unique()))

Nombre d'aÃ©roports : 1458
Nombre de compagnies : 16
Nombre de destinations : 105
Nombre d'avions : 3322
Nombre de fuseaux horaires : 7

QUESTION 3 - Combien y a-t-il de zones aux Etats-Unis oÃ¹ on ne passe pas Ã  lâ€™heure dâ€™Ã©tÃ© (indice : colonne dst) ?

In [8]:
zones = airports[airports.dst == 'N'].tzone.unique()
print("Nombre de zones ne passant pas Ã  l'heure d'Ã©tÃ© :", len(zones))

Nombre de zones ne passant pas Ã  l'heure d'Ã©tÃ© : 4

QUESTION 4 - <br/>
Quel est lâ€™aÃ©roport de dÃ©part le plus empruntÃ© ?<br/>
Quelles sont les 10 destinations les plus (moins) prisÃ©es ?<br/>
Quelle sont les 10 avions qui ont le plus (moins) dÃ©collÃ© ?

In [9]:
print(
    "L'aÃ©roport de dÃ©part le plus empruntÃ© est :", 
    airports[
        airports['faa'] == flights['origin'].value_counts().idxmax()
    ]['name'].iloc[0]
)

L'aÃ©roport de dÃ©part le plus empruntÃ© est : Newark Liberty Intl

In [10]:
print("Les 10 destinations les plus prisÃ©es : ")
most_ten_dest = flights['dest'].value_counts().head(10)

name_ten_dest = []
for faa in most_ten_dest.keys():
    name_ten_dest.append(airports[airports['faa'] == faa]['name'].iloc[0])

pandas.concat([pandas.Series(name_ten_dest), pandas.Series(most_ten_dest.index), pandas.Series(most_ten_dest.values)], axis=1, keys=['Destination', 'FAA', 'Nbr de vols'])

Les 10 destinations les plus prisÃ©es :

                          Destination  FAA  Nbr de vols
0                  Chicago Ohare Intl  ORD        17283
1     Hartsfield Jackson Atlanta Intl  ATL        17215
2                    Los Angeles Intl  LAX        16174
3  General Edward Lawrence Logan Intl  BOS        15508
4                        Orlando Intl  MCO        14082
5              Charlotte Douglas Intl  CLT        14064
6                  San Francisco Intl  SFO        13331
7      Fort Lauderdale Hollywood Intl  FLL        12055
8                          Miami Intl  MIA        11728
9       Ronald Reagan Washington Natl  DCA         9705

In [11]:
print("Les 10 destinations les moins prisÃ©es : ")
less_ten_dest = flights['dest'].value_counts(ascending=True).head(10)

name_ten_dest = []
for faa in less_ten_dest.keys():
    name_ten_dest.append(airports[airports['faa'] == faa]['name'].iloc[0])

pandas.concat([pandas.Series(name_ten_dest), pandas.Series(less_ten_dest.index), pandas.Series(less_ten_dest.values)], axis=1, keys=['Destination', 'FAA', 'Nbr de vols'])

Les 10 destinations les moins prisÃ©es :

                  Destination  FAA  Nbr de vols
0                  Blue Grass  LEX            1
1                  La Guardia  LGA            1
2  Ted Stevens Anchorage Intl  ANC            8
3             South Bend Rgnl  SBN           10
4   Montrose Regional Airport  MTJ           15
5                Yampa Valley  HDN           15
6               Key West Intl  EYW           17
7           Palm Springs Intl  PSP           19
8        Jackson Hole Airport  JAC           25
9              Gallatin Field  BZN           36

In [12]:
print("Les 10 avions qui ont le plus dÃ©collÃ© : ")
# first row is a sum
flights['tailnum'].value_counts()[1:11].to_frame(name='Nbr de vols')

Les 10 avions qui ont le plus dÃ©collÃ© :

        Nbr de vols
N725MQ          575
N722MQ          513
N723MQ          507
N711MQ          486
N713MQ          483
N258JB          427
N298JB          407
N353JB          404
N351JB          402
N735MQ          396

In [13]:
# on observe que tous les avions liÃ©s Ã  des vols ne sont pas dÃ©clarÃ©s dans planes.csv
planes_tailnum = planes.tailnum.values
most_took_off = flights['tailnum'].value_counts()[1:11].index
for x in most_took_off:
    for y in planes_tailnum:
      if x == y:
        print(planes[planes['tailnum'] == x])

     tailnum  year                     type          manufacturer   model  \
2229  N711MQ  1976  Fixed wing multi engine  GULFSTREAM AEROSPACE  G1159B

      engines  seats speed     engine
2229        2     22        Turbo-jet
    tailnum  year                     type manufacturer            model  \
543  N258JB  2006  Fixed wing multi engine      EMBRAER  ERJ 190-100 IGW

     engines  seats speed     engine
543        2     20        Turbo-fan
    tailnum  year                     type manufacturer            model  \
644  N298JB  2009  Fixed wing multi engine      EMBRAER  ERJ 190-100 IGW

     engines  seats speed     engine
644        2     20        Turbo-fan
    tailnum  year                     type manufacturer            model  \
837  N353JB  2012  Fixed wing multi engine      EMBRAER  ERJ 190-100 IGW

     engines  seats speed     engine
837        2     20        Turbo-fan
    tailnum  year                     type manufacturer            model  \
825  N351JB  2012  Fixed wing multi engine      EMBRAER  ERJ 190-100 IGW

     engines  seats speed     engine
825        2     20        Turbo-fan

In [14]:
print("Les 10 avions qui ont le moins dÃ©collÃ© : ")
flights['tailnum'].value_counts(ascending=True).head(10).to_frame(name='Nbr de vols')
# TODO : rechercher dans planes, la liste des avions qui ne figurent pas dans flights (ceux qui n'ont pas dÃ©colÃ©)

Les 10 avions qui ont le moins dÃ©collÃ© :

        Nbr de vols
N902DA            1
N228UA            1
N922EV            1
N837AW            1
N940UW            1
N5FCAA            1
N851NW            1
N812AW            1
N846AS            1
N14628            1

QUESTION 5 - Trouver combien chaque compagnie a desservi de destination ; combien chaque compagnie a desservie de destination par aÃ©roport dâ€™origine. RÃ©aliser les graphiques adÃ©quats qui synthÃ©tisent ces informations ?

In [15]:
print("Nombre de destinations desservies par compagnie : ")
# print('dest_per_airline', flights.groupby('carrier').count().dest)

dest_per_airline = pandas.Series(flights.groupby('carrier').count().dest.values)
pandas.concat([airlines, dest_per_airline], axis=1, keys=['Airlines', 'Destinations'])

Nombre de destinations desservies par compagnie :

   Airlines                              Destinations
    carrier                         name            0
0        9E            Endeavor Air Inc.        18460
1        AA       American Airlines Inc.        32729
2        AS         Alaska Airlines Inc.          714
3        B6              JetBlue Airways        54635
4        DL         Delta Air Lines Inc.        48110
5        EV     ExpressJet Airlines Inc.        54173
6        F9       Frontier Airlines Inc.          685
7        FL  AirTran Airways Corporation         3260
8        HA       Hawaiian Airlines Inc.          342
9        MQ                    Envoy Air        26397
10       OO        SkyWest Airlines Inc.           32
11       UA        United Air Lines Inc.        58665
12       US              US Airways Inc.        20536
13       VX               Virgin America         5162
14       WN       Southwest Airlines Co.        12275
15       YV           Mesa Airlines Inc.          601